body {
    background-color: #f6f7f9;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  
  .app-content {
    width: 900px;    
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  }
  
  .dashboard {
    display: flex;
    height: 100vh;
    background-color: #f6f7f9;
  }
  

  .sidebar {
    width: 260px;
    background: #ffffff;
    border-right: 1px solid #eaeaea;
    padding: 24px;
  }
  
  .logo {
    font-size: 18px;
    margin-bottom: 24px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  
    li {
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
      margin-bottom: 8px;
  
      &:hover {
        background: #f0f1f3;
      }
  
      &.active {
        background: #ecebff;
        color: #4f46e5;
        font-weight: 600;
      }
    }
  }

  .content {
    flex: 1;
    padding: 32px;
  }
  
  .content-header {
    margin-bottom: 24px;
  
    h1 {
      margin: 0;
      font-size: 24px;
    }
  
    p {
      color: #777;
      margin-top: 4px;
    }
  }
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .today-dropdown {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
  }
  .new-list-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f4f4ff;
    color: #4f46e5;
    cursor: pointer;
    font-weight: 600;
  
    &:hover {
      background-color: #ecebff;
    }
  }
  